* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 10px;
}
.display img{
    width: 30px;
    cursor: pointer;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    width: 60%;
}

.container button i{
    margin-right: 10px;
    font-size: 30px;
}
.container button{
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;
}
.container button:hover{
    background-color: #03d875;
}


footer{
    position: absolute;
    bottom: 72px;
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer .links{
    margin: 10px 14px;
    display: flex;
    gap: 14px;
}
footer .links a{
    text-decoration: none;
    border: 0;
    outline: 0;
    font-size: 30px; 
    color: #fff;
    cursor: pointer;
}

.links a:hover{
    color: #019f55;
}

@media (max-width: 500px){
    .container{
        margin-top: 50vw;
    }
    .container h1 span{
        color: #019f55;
        border-bottom: 4px solid #019f55;
        padding-bottom: 7px;
        font-size: 38px;
    }
    .container button{
        width: 100%;
    }

    footer{
    position: absolute;
    bottom: 72px;
    right: 42px;
    width: 75%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    
}

}

@media (max-width: 400px){
      footer{
    position: absolute;
    bottom: 40px;
    right: 38px;
    width: 80%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    
}

.container h1 span{
        color: #019f55;
        border-bottom: 4px solid #019f55;
        padding-bottom: 7px;
        font-size: 36px;
    }
}